.casesItems-container-bubblechart {
  position: relative;

  flex: 1;
  background-color: white;
  min-height: 90%;
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 10px;
}

.casesItems-container-bubblechart .bubble {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 48%;
  top: 48%;
  border-radius: 50%;
  transition: 1.2s ease-in-out;
}

.bubble-black {
  background-color: rgba(0, 0, 0, 0.7);
}

.bubble-white {
  background-color: rgba(200, 200, 200, 0.7);
}

.bubble-red {
  background-color: rgba(255, 0, 0, 0.7);
}
