@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: comfortaa;
}
body {
  background-color: var(--white);
}
:root {
  --black: #222;
  --white: #eee;
  --white-darker: #bbb;
  --gold: #ffbf00;
  --gold-lighter: #ffd700;
  --gold-darker: #ffb200;
  --error: #fc8181;
  --gray: #666;
  --light-gray: #aaa;
}
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
