.admin-online-court-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100% - 200px);
  background-color: var(--white);
  height: 98vh;
  max-height: 98vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  padding-top: 4rem;
  gap: 6rem;
}

.admin-online-court-mycourts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem;
}

@media only screen and (max-width: 1200px) {
  .admin-online-court-main {
    width: 100%;
    height: 100vh;
    max-height: unset;
  }

  .admin-online-court-mycourts {
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .admin-online-court-mycourts {
    padding: 2rem 0rem;
  }
}
