.admin-caseitem-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.admin-caseitem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 4rem;
}

.admin-caseitem-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
  padding-right: 2rem;
}

.admin-caseitem-buttons button {
  font-size: 14px;
  padding: 0.5rem 0.5rem;
}
