.employees-card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  padding: 1rem 1rem;
  width: 27%;
  margin-left: 1%;
  border-radius: 10px;
  border: 2px #ddd solid;
  background-color: #fff;
  animation: cardIn 600ms ease;
}

.employees-card__image {
  border-radius: 50%;
}

.employees-card__image img {
  width: 100px;
  border-radius: 50%;
}

.employees-card__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.employees-section {
  width: 100%;
}
.employees-section p {
  margin: 0;
}

.employees-section__title p {
  font-size: 0.7rem;
  font-weight: bolder;
  margin-bottom: 0.3rem;
}

.employees-section__value p {
  font-size: 0.8rem;
}

@keyframes cardIn {
  from {
    opacity: 0;
    width: 0%;
    margin-left: 0%;
    padding: 1rem 0rem;
  }
  to {
    opacity: 1;
    width: 27%;
    margin-left: 1%;
    padding: 1rem 1rem;
  }
}
