.employees-filter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 0.8rem;
  border: 2px #ddd solid;
}

.employees-filter h1 {
  font-size: 2rem;
}
